<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>New Product</title>

</head>
<body>
    <form action="/doInsert" method="post">
    <table class="table table-hover">
            <tr>
                <td>
                    Name <input type="text" name="txtName" >
                    
                </td>
            </tr>
            <tr>
                <td>
                    Price <input type="text" name="txtPrice">
                    <span style="color: red;">
                        {{priceError}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                     Url Image: <input type="text" name="imgURL"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Insert">
                </td>
            </tr>
    </table>
    </form>
</body>
</html>